.content-alignment{
    text-align: center;
}

.img-content{
   /* object-fit: cover !important; */
    height:100% !important; 
    width: 90% !important;           
    border-style: solid !important;
    border: gray;
    
}