<mat-card>
  <mat-card-header>
    <mat-card-title data-cy="post-title">
      {{ post.gebruiker.gebruikersnaam }}
    </mat-card-title>
    <mat-card-subtitle
      >posted on {{ post.datePosted | date: "longDate" }}</mat-card-subtitle
    >
  </mat-card-header>
  <div>
    <mat-card-content>
      {{ post.beschrijving }}
      <h3 mat-subheader>{{ post.likes }}</h3>
      <div class="content-alignment">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let foto of images">
            <div style="padding-top: 3em">
              <img
                class="img-content"
                mat-card-image
                [src]="sanitize(foto)"
                alt="niks te zien"
              />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>

      <mat-card-actions>
        <button class="button" (click)="deletePost()">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button class="button" (click)="redirect('edit')">
          <mat-icon>create</mat-icon>
        </button>
        <button
          class="button"
          (click)="like()"
          [disabled]="likeButtonDisabled"
        >
          <mat-icon>thumb_up</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </div>
</mat-card>
